<div class="cont" align="center" style="border:1px solid black;">
	<h3>Signup</h3> <br>
  <form #loginform="ngForm" novalidate>

    <div class="form-group">
    <input type="text" name="FirstName" placeholder="FirstName" class="form-control" required minlength="5" maxlength="10" #FirstName='ngModel' ngModel>
    <div *ngIf="FirstName.errors && FirstName.touched" class="alert alert-danger">
      <div [hidden]="!FirstName.errors.required" > Please enter your name </div>
      <div [hidden]="!FirstName.errors.minlength"> Name length should be minimum 5 characters </div>
      <div [hidden]="!FirstName.errors.maxlength"> Name length should be maximum 10 characters </div>
    </div>
    </div>

	<div class="form-group">
    <input type="text" name="LastName" placeholder="LastName" class="form-control" required minlength="5" maxlength="10" #LastName='ngModel' ngModel>
    <div *ngIf="LastName.errors && LastName.touched" class="alert alert-danger">
      <div [hidden]="!LastName.errors.required" > Please enter your name </div>
      <div [hidden]="!LastName.errors.minlength"> Name length should be minimum 5 characters </div>
      <div [hidden]="!LastName.errors.maxlength"> Name length should be maximum 10 characters </div>
    </div>
    </div>

	<div class="form-group">
    <input type="text" name="UserName" placeholder="Username" class="form-control" required minlength="5" maxlength="10" #UserName='ngModel' ngModel>
    <div *ngIf="UserName.errors && UserName.touched" class="alert alert-danger">
      <div [hidden]="!UserName.errors.required" > Please enter your name </div>
      <div [hidden]="!UserName.errors.minlength"> Name length should be minimum 5 characters </div>
      <div [hidden]="!UserName.errors.maxlength"> Name length should be maximum 10 characters </div>
    </div>
    </div>

    <div class="form-group">
	  <input type="password" name="Password" placeholder="Password" class="form-control" required minlength="5" maxlength="10" #Password='ngModel' ngModel>
    <div *ngIf="Password.errors && Password.touched" class="alert alert-danger">
      <div [hidden]="!Password.errors.required" > Please enter your name </div>
      <div [hidden]="!Password.errors.minlength"> Name length should be minimum 5 characters </div>
      <div [hidden]="!Password.errors.maxlength"> Name length should be maximum 10 characters </div>
    </div> 
    </div>

	<div class="form-group">
	  <input type="email" name="Email" placeholder="Email" class="form-control" required minlength="5" maxlength="10" #Email='ngModel' ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" ngModel>
    <div *ngIf="Email.errors && Email.touched" class="alert alert-danger">
      <div [hidden]="!Email.errors.required" > Please enter your name </div>
      <div [hidden]="!Email.errors.minlength"> Name length should be minimum 5 characters </div>
      <div [hidden]="!Email.errors.maxlength"> Name length should be maximum 10 characters </div>
    </div> 
    </div>

	<div class="form-group">
	  <input type="number" name="Phone" placeholder="Contact" class="form-control" required minlength="5" maxlength="10" #Phone='ngModel' ngModel>
    <div *ngIf="Phone.errors && Phone.touched" class="alert alert-danger">
      <div [hidden]="!Phone.errors.required" > Please enter your name </div>
      <div [hidden]="!Phone.errors.minlength"> Name length should be minimum 5 characters </div>
      <div [hidden]="!Phone.errors.maxlength"> Name length should be maximum 10 characters </div>
    </div> 
    </div>

    <br> <br>

	  <button type="submit" [disabled]='!loginform.form.valid' (click)="onSubmit(FirstName.value,LastName.value,UserName.value,Password.value,Email.value,Phone.value)">Submit</button>

  </form>
  <br> <br>
</div>