<div class="container">
  <div class="jumbotron">
	<div class="container">
	
    <div class="row">
	<div class="col-md-4">
	<h1>ShopSell.com</h1>      
    <p>Shop and Sell your own way out!!</p>
	</div>
	<div class="col-md-8">
	<div class="head-image">
		<img src="images/img1.jpg">
	</div>
	</div>
	</div>
	</div>
  </div>
	
  <nav class="navbar navbar-default" role="navigation">
  
  <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="home.html">SNS</a>
    </div>
  
  <div class="collapse navbar-collapse js-navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="" routerLink="/home" routerLinkActive="active">HOME</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#home.html" >SALES <span class="glyphicon glyphicon-chevron-down pull-right"></span> </a>
		<ul class="dropdown-menu">
      <li *ngFor="let cat of categ">{{cat}}</li>
          <!--<li><a href="clothing.html">Clothing</a></li>
          <li><a href="furniture.html">Furniture</a></li>
          <li><a href="mobile.html">Mobile</a></li>
		  <li><a href="realEstate.html">Real Estate</a></li>-->
        </ul>
	  </li>
	  
	  <li><a *ngIf="token==null" routerLink="/login" routerLinkActive="active" >LOGIN</a></li>	 
    <li><a *ngIf="token!=null" routerLink="/login" routerLinkActive="active" >Welcome Rasika!</a></li>

	  <li><a *ngIf="token==null" routerLink="/register" routerLinkActive="active" >REGISTER</a></li>

    <!--Welcome-->
    <li *ngIf="token==null" class="dropdown"><a *ngIf="token==null" class="dropdown-toggle" data-toggle="dropdown" href="home_login.html"> <span *ngIf="token==null" class="glyphicon glyphicon-chevron-down pull-right"></span> </a>
		<ul *ngIf="token==null" class="dropdown-menu" id="loginmenu" style="background-color:#F95262;font-weight:bold;">
			<li><a *ngIf="token==null" href="post.html">Post Ad</a></li>
			<li><a *ngIf="token==null" href="view.html">View Your Ads</a></li>
			<li><a *ngIf="token==null" href="edit.html">Edit Ad</a></li>
			<li><a *ngIf="token==null" href="logout.html">Logout</a></li>
		</ul>
	  </li>
    
	<li><form class="navbar-form navbar-left" role="search">
      <div class="form-group">
		<form class="form-inline">
    <input class="form-control mr-sm-2" type="text" placeholder="Search Ads..">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><span class="glyphicon glyphicon-search"></span></button>
  </form>
      </div>
    </form>
    </li>
	</ul>
  </div>
</nav>
  
</div>