
<div class="container">	
	
  <div class="images-container" align="center">
	
	<div class="image-cont">
	<h1>Real Estate</h1>
	<div class="image">
		<a href="item.html"><p><img src="images/re1.jpg" width="150px" height="200px"> <br></p>
		<p>Top Blue</p></a>
	</div>
	
	<div class="image">
		<a href="item.html"><p><img src="images/re2.jpg" width="150px" height="200px"> <br></p>
		<p>Cupboard for Wardrobe Brown</p></a>
	</div>
	
	<div class="image">
		<a href="item.html"><p><img src="images/re3.jpg" width="150px" height="200px"> <br></p>
		<p>Phone Samsung</p></a>
	</div>
	
	<div class="image">
		<a href="item.html"><p><img src="images/re4.jpg" width="150px" height="200px"> <br></p>
		<p>Apple's iPhone</p></a>
	</div>
	
	<div class="image">
		<a href="item.html"><p><img src="images/re5.jpg" width="150px" height="200px"> <br></p>
		<p>Double Bed</p></a>
	</div>
	
	<div class="image">
		<a href="item.html"><p><img src="images/re6.jpg" width="150px" height="200px"> <br></p>
		<p>Travel Bag/Luggage</p></a>
	</div>
	
	<div class="image">
		<a href="item.html"><p><img src="images/re7.jpg" width="150px" height="200px"> <br></p>
		<p>Travel Bag/Luggage</p></a>
	</div>
	
	<div class="image">
		<a href="item.html"><p><img src="images/re8.jpg" width="150px" height="200px"> <br></p>
		<p>Travel Bag/Luggage</p></a>
	</div>
	
	<div class="image">
		<a href="item.html"><p><img src="images/re9.jpg" width="150px" height="200px"> <br></p>
		<p>Travel Bag/Luggage</p></a>
	</div>
	
  </div>
	
  </div>
  
</div>