		<div class="cont" align="center" style="border:1px solid black;">
	<h3>Post Advertisement</h3> <br>
  <form #loginform="ngForm" novalidate>

    <div class="form-group">
    <input type="text" name="Title" placeholder="Title" class="form-control" required minlength="5" maxlength="10" #Title='ngModel' ngModel>
    <div *ngIf="Title.errors && Title.touched" class="alert alert-danger">
      <div [hidden]="!Title.errors.required" > Please enter your Ad Title </div>
    </div>
    </div>

    <br> <br>

		<div class="form-group">
       <input type="text" name="Name" required minlength="0" placeholder="Name" minlength="3" class="form-control" #Name="ngModel" ngModel>
        <div *ngIf="Name.errors && Name.touched" class="alert-danger">
          <div [hidden]="!Name.errors.required" >Please enter your Name!</div>
          <div [hidden]="!Name.errors.minlength">Name should be of minimum 3 characters </div>
       </div>
      </div>     

			<br> <br>

    <div class="form-group">
    <select class="form-control" name="Category" #Category="ngModel" ngModel>
        <option *ngFor="let product_category of categories">{{product_category}}</option>
      </select>
    </div>

    <br> <br>

		<div class="form-group">
	  <input type="text" name="Description" placeholder="Description" class="form-control" required #Description='ngModel' ngModel>
    <div *ngIf="Description.errors && Description.touched" class="alert alert-danger">
      <div [hidden]="!Description.errors.required" > Please enter your Description! </div>
    </div> 
    </div>

		<br> <br>

	  <button type="submit" [disabled]='!loginform.form.valid' (click)="onSubmit(Title.value,Name.value,Category.value,Description.value)">Submit</button>

  </form>
  <br> <br>
</div>

