.jumbotron
{
	/*background:url("img1.jpg") center;*/
	background:#F95262;
}

.head-image
{	
	width:500px;
	height:150px;
	position:relative;
	float:right;
}

.head-image>img
{
	width:500px;
	height:150px;
}

.navbar-default
{
	background-color:#F95262;
}

.navbar-default .navbar-right>li>a
{
	color:black;
	font-weight:bold;

}

.input-group .form-control
{
	width:100px;
}
.input-group
{
	position:relative;
}
.active
{
	background:#892F38;
}

.cont
{
	width:80%;
	height:100%;
	border:1px solid black;
	margin-left:150px;
	padding-top:50px;
}

footer 
{
      background-color: #F95262;
      color: white;
      padding: 15px;
	  height:150px;
	  position:relative;
}

.footer-content
{
	width:100%;
	height:30%;
	margin-top:10px;
}

.image
{
	width:50px;
	height:50px;
	margin:50px;
	border:1px solid black;
	display:inline;
}