
<div class="container">
  <div class="images-container" align="center">
	
<div class="container">
  <h2>Your Advertisements</h2>
	<br><br>           
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
				<th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let advertise of advertisements">
        <td>{{advertise.title}}</td>
        <td>{{advertise.description}}</td>
        <td>{{advertise.category}}</td>
      </tr>
    </tbody>
  </table>
</div>
	
  </div>
  
</div>