<div class="container">	
  <div class="images-container" align="center">
	<div class="image-cont">
	<div class="image">
		<a href="item.html"><p><img src="images/img6.jpg" width="150px" height="200px"> <br></p>
		<p>Top Blue</p></a>
	</div>
	
	<div class="image">
		<a href="item.html"><p><img src="images/img8.jpg" width="150px" height="200px"> <br></p>
		<p>Cupboard for Wardrobe Brown</p></a>
	</div>
	
	<div class="image">
		<a href="item.html"><p><img src="images/img9.jpg" width="150px" height="200px"> <br></p>
		<p>Phone Samsung</p></a>
	</div>
	
	<div class="image">
		<a href="item.html"><p><img src="images/img10.jpg" width="150px" height="200px"> <br></p>
		<p>Apple's iPhone</p></a>
	</div>
	
	<div class="image">
		<a href="item.html"><p><img src="images/img11.jpg" width="150px" height="200px"> <br></p>
		<p>Double Bed</p></a>
	</div>
	
	<div class="image">
		<a href="item.html"><p><img src="images/img12.jpg" width="150px" height="200px"> <br></p>
		<p>Travel Bag/Luggage</p></a>
	</div>
  </div>
	
  </div>
</div>